*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.wrapper {
  font-size: 0;
}

.expandContainer {
  font-size: 14px;
}

.imgBlock {
  display: inline-block;
  font-size: 14px;
}

.imgBlock img.imgGridItem {
  height: auto;
  max-height: 200px;
  display: block;
  padding: 5px;
}

.expandContainer {
  display: none;
  background: #ddd;
  padding: 2% 5%;
  position: relative;
}

.expandContainer a.expClose {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  color: #000;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 0.9em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.expandContainer a.expClose:hover {
  opacity: 1;
}

.expandContainer a.expClose:before {
  content: 'x';
}

.cell, .expTab .expFigure, .expTab .expContent {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 1%;
}

.expTab {
  display: table;
  width: 100%;
}

.expTab .expFigure img {
  max-width: 100%;
}
