$font-stack: 'Open Sans', sans-serif;
$font-size: 14px;
$bgcolor: #fff;
$expbgcolor: #ddd;

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
body {
    background: $bgcolor;
    font-family: $font-stack;
    padding: 0;
    margin: 0;
    font-size: $font-size;
    overflow: scroll;
}

.wrapGrid {
    font-size: 0;
    text-align: center;
}  
.expandContainer {
    font-size: $font-size;
    text-align: left;
}
.imgBlock {
    display: inline-block;
    font-size: $font-size;
    position: relative;

    img.imgGridItem {
        height: auto;
        max-height: 200px;
        display: block;
        padding: 5px;
    }
} 
@mixin transition-all($sec) {
    -webkit-transition: all $sec ease;                  
    -moz-transition: all $sec ease;                 
    -o-transition: all $sec ease;   
    -ms-transition: all $sec ease;          
    transition: all $sec ease;
}
.expandContainer {
    display: none;
    background: $expbgcolor;
    padding: 2% 5%;
    position: relative;
    
    a.expClose {
        display: inline-block;
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.6;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: $bgcolor;
        color: #000;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 0.9em;
        @include transition-all(0.3s);
    } 
    a.expClose:hover {
        opacity: 1;
    }
    a.expClose:before {
        content: 'x';
    }
}
.cell {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 1%;
}
.expTab {
    display: table;
    width: 100%;
    
    .expFigure {
        @extend .cell;
        
        img {
            max-width: 100%;
        }
    }
    .expContent {
        @extend .cell;
    }
}
.imgBlock > a {
    display: block;
}
.imgBlock.itemExpanded > a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid $expbgcolor;
}
